@model IEnumerable<LMSProject.Models.file>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.folders.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tasks.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.path)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.folders.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tasks.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.path)
            <p>@Html.ActionLink("Download "+ item.name + " File", "Download", new { filePath = item.path })</p>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.fileID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fileID })
        </td>
    </tr>
}

</table>
