@model IEnumerable<LMSProject.Models.task>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.folders.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schoolClasses.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.folders.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.schoolClasses.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.taskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.taskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.taskID })
        </td>
    </tr>
}

</table>
