@model IEnumerable<LMSProject.Models.task>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create",null, new { @class = "btn btn-default" })
</p>
<table class="table-condensed">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.folders.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schoolClasses.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.schoolClasses.name, "Details", "schoolClasses", new { id = item.schoolClassID }, new { @class = "btn btn-danger" })
        </td>
        <td>
            @Html.ActionLink(item.name, "Details", new { id = item.taskID }, new { @class = "btn btn-info wide-button" })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.taskID }, new {@class ="btn btn-default"}) 
            @Html.ActionLink("Details", "Details", new { id=item.taskID }, new {@class ="btn btn-default"}) 
            @Html.ActionLink("Delete", "Delete", new { id=item.taskID }, new {@class ="btn btn-danger"})
        </td>
    </tr>
}

</table>
