@model LMSProject.Models.task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.folders.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.folders.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schoolClasses.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schoolClasses.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @{
        if (Session["nav"] != null)
        {
            if (Session["nav"] == "frontend")
            {
                <p><a href="#" onclick="history.back();">Back</a></p>
            }
            else
            {
                @Html.ActionLink("Back to List", "Index")
            }
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
            }
        </div>
    }
</div>
