@model LMSProject.Models.task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.folders.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.folders.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schoolClasses.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schoolClasses.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>

    @Html.ActionLink("Edit", "Edit", new { id = Model.taskID }) |
    @{
        if (Session["nav"] != null)
        {
            if (Session["nav"] == "frontend")
            {
            <p><a href="#" onclick="history.back();">Back</a></p>
            }
            else
            {
                @Html.ActionLink("Back to List", "Index")
            }
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    }

