<!DOCTYPE html>
<html ng-app="LMSProject">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    <script>
        var lsmproject = angular.module('LMSProject', [])
    </script>
</head>

<body id="mainbody">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <div class="dropdown">
                        <label class="btn btn-primary" style="text-align:center; display:inline-block;">@Html.ActionLink("LMS Project", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</label>
                        <button class="btn btn-pink" data-toggle="dropdown" style="height:65px; width:150px; padding-top:0px;"><span>Administration</span></button>
                        <ul class="dropdown-menu">
                            <li class="btn-pink dropdown" style="display:block">@Html.ActionLink("School Classes", "Index", "schoolClasses")</li>
                            <li class="btn-pink dropdown" style="display:block">@Html.ActionLink("Users", "Index", "users")</li>
                            <li class="btn-pink dropdown" style="display:block">@Html.ActionLink("Folders", "Index", "folders")</li>
                            <li class="btn-pink dropdown" style="display:block">@Html.ActionLink("Tasks", "Index", "tasks")</li>
                            <li class="btn-pink dropdown" style="display:block">@Html.ActionLink("Task Files", "Index", "taskfiles")</li>
                            <li class="btn-pink dropdown" style="display:block">@Html.ActionLink("Schedules", "Index", "Calendar")</li>
                        </ul>
                    </div>
                   
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="btn btn-danger">@Html.ActionLink("Initialization", "CreateRoles", "users")</li>                       
                        <li class="btn btn-success">@Html.ActionLink("User View", "Index", "UserViewModelFullViews")</li>
                        <li class="btn btn-success">@Html.ActionLink("Teacher View", "Index", "Teacher")</li>
                    </ul>
                 
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    <div class="backgroundPic"></div>
        <div class="container body-content">

            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - LMS Project Emelie-Disa-Nikola</p>
            </footer>
        </div>
    
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
