@model LMSProject.Controllers.TeacherViewModel
@{
    ViewBag.Title = "Index";
}

<style>
    .menu:hover
    {
        background-color: deeppink;
        cursor:pointer;
    }
</style>
<div style="text-align: center">
<span class="label label-primary" style="font-size:1.7em;">Teacher Admin View</span>
</div>
<div>
    <div ng-controller="MenuController">
        <div class="row styleRow">
            <div class="col-md-5">
                <span class=" btn btn-info" style="font-size:1.7em" ng-click="toggleSchoolClass()">USERS</span>
                <div ng-show="showschoolclass">
                    <table class="userfullview" style="border:none;">

                        @foreach (var schoolclass in Model.Classes)
                        {
                            <tr>
                                <th class="btn-lg btn-primary">
                                    @Html.DisplayFor(x => schoolclass.Name)
                                </th>
                                <th>

                                </th>
                                <th>

                                </th>
                                <th>
                                    &nbsp;
                                </th>
                            </tr>
                            if (schoolclass.Students.Count == 0)
                            {
                                <tr>
                                    <td class="btn btn-default">
                                        No Registered Users for this Class
                                    </td>
                                </tr>
                            }
                            else
                            {
                                foreach (var student in schoolclass.Students)
                                {
                                    <tr>

                                        <td class="btn btn-success" style="width:100%">
                                            @Html.DisplayFor(x => student.Name)
                                        </td>
                                        <td>
                                        <td class="btn btn-info">
                                            @Html.DisplayFor(x => student.Role)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Remove", "DeleteSchoolClassFromUser", "users", new { userId = student.id, SchooClassId = schoolclass.id }, new { @class = "btn btn-danger" })
                                        </td>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </div>
            <div class="col-md-7">
                <span class=" btn btn-info" style="font-size:1.7em" ng-click="toggleFolders()">FILES</span>
                <div ng-show="showfolders">
                    <table class="table-condensed">
                          @foreach (var item in Model.AllFiles) { 
                              <tr>
                                  <th class="btn-lg btn-primary" colspan="2">@Html.Raw(item.folders.schoolClasses.name.ToString())</th>
                                  <th>
                                      <span class="btn btn-pink" style="width:100%" >@Html.Raw(item.name)</span></th>
                                  <th>
                                  
                                  </th>
                              </tr>
                              <tr>
                                  <td>
                                  <td>
                                      @{
                                        string myuserName = "";
                                        foreach (var utem in (List<LMSProject.Models.ApplicationUser>)ViewBag.UserList)
                                            {
                                                if (utem.Id == item.userID) { myuserName = utem.UserName; }
                                            }
                                      }
                                      <span class="btn btn-success">@Html.Raw(myuserName)</span>   
                                  </td>
                                  <td><span class="btn btn-warning">@Html.Raw(item.folders.name)</span></td>
                                  <td><span class="btn btn-default">@Html.ActionLink("Download", "Download", "taskfiles", new { filePath = item.path }, null)</span></td>
                                
                                  <td>
                                      <span class="btn btn-default">@Html.ActionLink("Delete", "DeleteFileNow", new { id = item.fileID }, null)</span>
                                  </td>
                              
                              
                                      
                              </tr>
                          }
                    </table> 
                </div>
                @*<table class="table userfullview">
                    <tr>
                        <th>
                            Private Folder
                        </th>
                        <th>
                            File Name
                        </th>
                        <th>
                            Path
                        </th>
                        <th>
                            Task
                        </th>
                    </tr>

                    @foreach (var folder in Model.PrivateFolders)
                {
                        <tr>
                            <th>
                                @Html.DisplayFor(x => folder.Name)
                            </th>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                @Html.DisplayFor(x => folder.Path)
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>

                        foreach (var file in folder.Files)
                        {
                            <tr>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    @Html.DisplayFor(x => file.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => file.Path)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => file.TaskName)
                                </td>
                                <td>
                                    @Html.ActionLink("Download", "Download", "taskfiles", new { filePath = file.Path }, null) |
                                    @Html.ActionLink("Delete", "DeleteFileNow", "UserViewModelFullViews", new { id = file.Id }, null)
                                </td>

                            </tr>
                        }
                    }
                </table>*@
            </div>
        </div>
         <div class="row styleRow">
                <span class=" btn btn-info" style="font-size:1.7em" ng-click="toggleSchedules()">SCHEDULES</span>
                <div ng-show="showschedules">
                    @Html.Action("_List", "Calendar")
                </div>
            </div>
                        <div class="row styleRow">
            <span class=" btn btn-info" style="font-size:1.7em" ng-click="toggleUsers()">MANAGE USERS</span>
            <div ng-show="showusers">
                @Html.Action("_List", "users")
            </div>
                        </div>
        <div class="row styleRow">

            <div class="col-md-4 ">
                <span class=" btn btn-info" style="font-size:1.7em" ng-click="toggleClasses()">CLASSES</span>
                <div ng-show="showclasses">
                    @Html.Action("_List", "schoolClasses")
                </div>
            </div>

            <div class="col-md-8">
                <span class="btn btn-info" style="font-size:1.7em" ng-click="toggleTasks()">TASKS</span>
                <div ng-show="showtasks">
                    @Html.Action("_List", "tasks")
                </div>
            </div>
        </div>

        </div>
</div>

<script>
    var teacherview = angular.module("LMSProject");
    teacherview.controller("MenuController", function ($scope) {
        $scope.showschedules = false;
        $scope.showusers = false;
        $scope.showclasses = false;
        $scope.showtasks = false;
        $scope.showtaskfiles = false;
        $scope.showschoolclass = false;
        $scope.showfolders = false;

        $scope.toggleSchedules = function()
        {
            $scope.showschedules = !$scope.showschedules;
        }

        $scope.toggleUsers = function () {
            $scope.showusers = !$scope.showusers;
        }

        $scope.toggleClasses = function () {
            $scope.showclasses = !$scope.showclasses;
        }

        $scope.toggleTasks = function () {
            $scope.showtasks = !$scope.showtasks;
        }

        $scope.toggleTaskfiles = function () {
            $scope.showtaskfiles = !$scope.showtaskfiles;
        }

        $scope.toggleSchoolClass = function () {
            $scope.showschoolclass = !$scope.showschoolclass;
        }

        $scope.toggleFolders = function () {
            $scope.showfolders = !$scope.showfolders;
        }
    });
</script>