@model IEnumerable<LMSProject.Models.UserViewModelFullView>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<h1>
    @ViewBag.RoleName: @ViewBag.UserName
</h1>
<p>
    UserID: @ViewBag.UserId
</p>

<table class="table userfullview">
    <tr>
        <th>
            School Classes
        </th>
    </tr>

@foreach (var item in (IEnumerable<SelectListItem>)ViewBag.schoolClassList) {
    <tr>
        <td>
            @Html.DisplayFor(x => item.Text)
        </td>
    </tr>
}

</table>

<table class="table userfullview">
    <tr>
        <th>
            Folders
        </th>
    </tr>

    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.folderList)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Text)
            </td>
            <td>@{
        if (item.Text.Contains("Shared"))
        {

            <div class="col-md-10">
                <input type="file" name="attachment" lang="en-gb" />
            </div>
                    @Html.ActionLink("Upload", "UploadShared", new { filePath = item.Value })
                   }
                }
            </td>
        </tr>
    }

</table>

<table class="table userfullview">
    <tr>
        <th>
            Tasks
        </th>
    </tr>

    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.TaskList)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Text)</td><td>
                <div class="col-md-10">
                    <input type="file" name="attachment" lang="en-gb"/>
                                                         </div>
                @Html.ActionLink("Upload file", "UploadTask", new { filePath = item.Selected }) 
            </td>
        </tr>
    }

</table>

<table class="table userfullview">
    <tr>
        <th>
            Submited Files
        </th>
    </tr>

    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.fileList)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Text)
                
            </td>
            <td>@Html.ActionLink("Download", "Download", new { fileID = item.Selected }) </td> |
            <td>@Html.ActionLink("Delete", "Delete", new { fileID = item.Selected }) </td>
        </tr>
    }

</table>

