@model IEnumerable<LMSProject.Models.UserViewModelFullView>

@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>

<h1>
    @ViewBag.RoleName: @ViewBag.UserName
</h1>
<p>
    UserID: @ViewBag.UserId
</p>

<table class="table userfullview">
    <tr>
        <th>
            School Classes
        </th>
    </tr>

@foreach (var item in (IEnumerable<SelectListItem>)ViewBag.schoolClassList) {
    <tr>
        <td>
            @Html.DisplayFor(x => item.Text)
        </td>
    </tr>
}

</table>

<table class="table userfullview">
    <tr>
        <th>
            Folders
        </th>
    </tr>

    @foreach (var item in (IEnumerable<LMSProject.Models.folder>)ViewBag.folderList)
    {
        <tr>
            <td>
                @Html.Raw(item.name)
            </td>
            <td>@{
        if (item.folderTypes.folderTypeID==2)
        {

            <div class="col-md-10">
                <input type="file" name="attachment" lang="en-gb"/>
            </div>
                    @Html.ActionLink("Upload", "UploadShared", new { folderID=item.folderID })
                   }
                }
            </td>
        </tr>
    }

</table>

<table class="table userfullview">
    <tr>
        <th>
            Tasks
        </th>
    </tr>

    @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.TaskList)
    {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Text)</td><td>
                <div class="col-md-10">
                    <input type="file" name="attachment" lang="en-gb"/>
                                                         </div>
                @Html.ActionLink("Upload file", "UploadTask", new { filePath = item.Selected }) 
            </td>
        </tr>
    }

</table>

<table class="table userfullview">
    <tr>
        <th>
            Submited Private Files
        </th>
    </tr>

    @foreach (var item in (IEnumerable<LMSProject.Models.file>)ViewBag.fileList)
    {
        <tr>
            <td>
                    @Html.Raw(item.name + " in " + item.path + " for " + item.tasks.name)

</td>
            <td>@Html.ActionLink("Download", "Download", new { fileID = item.fileID }) |
            @Html.ActionLink("Delete", "Delete", new { fileID = item.fileID }) </td>
        </tr>
    }

</table>

<table class="table userfullview">
    <tr>
        <th>
            Submited Shared Files
        </th>
    </tr>

    @foreach (var item in (IEnumerable<LMSProject.Models.file>)ViewBag.fileShList)
    {
        <tr>
            <td>
                @Html.Raw(item.name + " in " + item.path)

            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { fileID = item.fileID }) |
            @Html.ActionLink("Delete", "Delete", new { fileID = item.fileID })
        </td>
    </tr>
    }

</table>

<table class="table userfullview">
    <tr>
        <th>
            Shared Files
        </th>
    </tr>
    @{
        string myuserName = "";
    }

    @foreach (var item in (IEnumerable<LMSProject.Models.file>)ViewBag.SharedList)
    {
        <tr>
            <td>@{
        foreach (var utem in (List<LMSProject.Models.ApplicationUser>)ViewBag.UserList)
        {
            if (utem.Id == item.userID) { myuserName = utem.UserName; } 
        }
                }
                @Html.Raw(item.name + " in " + item.path + " from " + myuserName)

            </td>
            <td>
                @Html.ActionLink("Download", "Download", new { fileID = item.fileID })
            </td>
        </tr>
    }

</table>

