@model IEnumerable<LMSProject.Models.userViewModel>

@{
    ViewBag.Title = "Index";
}
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table-condensed">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.schoolClasses)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details","users", new { id = item.UserId }, new { @class = "btn btn-success" })
            </td>
            <td>
                <a class="btn btn-info">@item.RoleName</a>
            </td>
            <td>
                <a class="btn btn-warning">@item.schoolClasses</a>
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { id = item.UserId }, new {@class ="btn btn-default"})*@
                @Html.ActionLink("View Schedule", "ViewFullStudentSchedule", "Calendar", new { id = item.UserId }, new {@class ="btn btn-default"})
                @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new {@class ="btn btn-danger"})
            </td>
        </tr>
    }

    </table>
    @*<hr />
    <table class="table">

        @{
            List<LMSProject.Models.ApplicationUser> InternalUsersList = (List<LMSProject.Models.ApplicationUser>)ViewBag.InternalUsers;
        }

        @foreach (var UserItem in InternalUsersList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => UserItem.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => UserItem.Roles)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }



    </table>*@
