@model LMSProject.Models.userViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.schoolClasses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.schoolClasses)
        </dd>

    </dl>
</div>
<br />
<hr />
<br />
<table class="table">
    <tr>
        <th>
            School Classes
        </th>
        <th></th>
    </tr>

    @{
        List<LMSProject.Models.user> MyUserSchoolClasses = (List<LMSProject.Models.user>)ViewBag.UserSchoolClasses;
    }

    @if (MyUserSchoolClasses != null) 
    { 
        foreach (var item in MyUserSchoolClasses)
        {
            <tr>
                <td>
                    @Html.DisplayFor(myItem => item.schoolClasses.name)
                </td>
                <td>
                    @Html.ActionLink("Add", "AddUserSchoolClass", new { p_UserId = item.UserId, p_schoolClassID = item.schoolClassID }) |
                    @Html.ActionLink("Delete", "DeleteAddUserSchoolClass", new { p_UserId = item.UserId, p_schoolClassID = item.schoolClassID })
                </td>
            </tr>
        }
    }

</table>
<hr />
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
